@{
    ViewData["Title"] = "Gestion Usuarios";
}



<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
<div class="container mt-5">
    <div class="row justify-content-center gap-4">
        
        <div class="col-md-4">
            <a href="@Url.Action("Register", "KDP_EC")" class="text-decoration-none text-dark">
                <div class="card shadow-lg text-center h-100">
                    <div class="card-body">
                        <i class="fas fa-user-plus fa-3x mb-3 text-success"></i>
                        <h5 class="card-title">Agregar Persona</h5>
                        <p class="card-text">Registrar una nueva persona en el sistema.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("IndexPerson", "KDP_EC")" class="text-decoration-none text-dark">
                <div class="card shadow-lg text-center h-100">
                    <div class="card-body">
                        <i class="fas fa-user-edit fa-3x mb-3 text-primary"></i>
                        <h5 class="card-title">Listado de Personas</h5>
                        <p class="card-text">Buscar y modificar los datos de una persona registrada.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>