@using KDP_EC.Core.Models
@model User


@{
    ViewData["Title"] = "Crear Usuario";
    var identification = ViewBag.Identification as string;
}


<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg ">
                <div class="card-header bg-success text-white text-center">
                    <h3 class="mb-0">Registro de Persona</h3>
                </div>

                <form asp-action="CreateUser" method="post">

                    <input type="hidden" asp-for="Username" value="@identification" />

                    <div class="card-body p-4">
                        
                        <label asp-for="Password" class="form-label">Asigne una contraseña</label>
                        <input asp-for="Password" class="form-control" type="password" required />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    
                    </div>

                    <div class="text-center mt-3 mb-4">
                        <button type="submit" class="btn btn-success btn-sm rounded-pill px-4">Siguiente</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>